<section class="player">
  <h1>Gerenciar músicas</h1>

  <div>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Nome</th>
          <th>Artista</th>
          <th>Ações</th>
        </tr>
      </thead>

      <tbody>
        <% playlist.forEach((music)=> { %>
        <tr class="musics">
          <td><img src="<%= music.linkImage %>" alt="Imagem da musica" /></td>
          <td><%= music.name %></td>
          <td><%= music.artist %></td>
       
            <td id="actions">
            <a id="edit" href="/by/<%= music._id%>/edit ">Editar</a>
            <a id="remove" href="/by/<%= music._id%>/delete">Apagar</a>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</section>
